<launch>
  <node pkg="startup" exec="robocar" output="screen"
    args="$(find-pkg-share startup)/config/robocar.json"/>

  <node pkg="tfl_detector" exec="tfl_detector" output="screen"
    args="$(find-pkg-share tfl_detector)/best_m.pt"/>

  <!--include file="$(find-pkg-share ouster_ros)/launch/sensor.launch.xml">
    <arg name="ouster_ns" value="sensors"/>
    <arg name="sensor_hostname" value="192.168.1.102"/>
    <arg name="udp_dest" value="192.168.1.100"/>
    <arg name="lidar_port" value="54727"/>
    <arg name="imu_port" value="50197"/>
    <arg name="udp_profile_lidar" value="LEGACY"/>
    <arg name="lidar_mode" value="1024x20"/>
    <arg name="timestamp_mode" value="TIME_FROM_ROS_TIME"/>
    <arg name="viz" value="false"/>
    <arg name="metadata" value="$(find-pkg-share ouster_ros)/config/metadata.json"/>
    <arg name="use_system_default_qos" value="true"/>
    <arg name="sensor_frame" value="vehicle"/>
    <arg name="lidar_frame" value="os_lidar"/>
    <arg name="imu_frame" value="os_imu"/>
    <arg name="point_cloud_frame" value="vehicle"/>
    <arg name="lidar_to_sensor_tf_x" value="1310.0"/>
    <arg name="lidar_to_sensor_tf_y" value="-10.0"/>
    <arg name="lidar_to_sensor_tf_z" value="1530.0"/>
    <arg name="lidar_to_sensor_tf_theta" value="178.5"/>
  </include-->

</launch>